[Unit]
Description=PMD-85 Retro Console
After=systemd-remount-fs.service

[Service]
ExecStart=/bin/bash -ce "/root/simpmd/bin/simpmd > /var/log/pmd85.log 2>&1 && /sbin/halt"
WorkingDirectory=/root/simpmd/bin/

[Install]
WantedBy=multi-user.target
